body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}


a {
  color: white;
  padding: 24px;
  height: 16px;
  text-decoration: none;
}

.search-form {
  color: #e9b953;
}

input {
  border-color:  #e9b953;
}

.flipcard-front, .flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.character-card:hover .flipcard-inner  {
  transform: rotateX(180deg);
}

.flipcard-back {
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-img {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.main-img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

